Package: bay
Description: Bay CLI for Linux
Maintainer: SiriusCrain
Version: $VERSION
Architecture: $APT_ARCH
Conflicts: bay-minimal
Depends: libayatana-appindicator3-1, libwebkit2gtk-4.1-0, libgtk-3-0, util-linux
